<div class="footer">
  <div id="imp-link" class="uni-padding">
      <div class="div33">
          <h3>About Us</h3>
          <p>The about us page is often a reflection of the purpose and personality of the business and its owners or top employees. Finally, the page can also incorporate contact or locational information. One way to view the about us concept is as a text self-portrait or short autobiography created by a business.</p>
      </div>
      <div class="div33" id="footer-menu-container">
          <h3>Important Links</h3>
          <ul id="footer-menu">
              <li><a href="/">Home</a></li>
              <li><a href="/viewcustomer">View Customers</a></li>
              <li><a href="/createuser">Create user</a></li>
              <li><a href="/transfermoney">Transfer money</a></li>
              <li><a href="/contactUs">About Us</a></li>
          </ul> </div> <div class="div33"> <h3>Contact With Us</h3>
          <p > Sonal singh<br> New Delhi<br> India<br> </p>
          </div> </div> <div id="copyright"
          style="background-color: #212529;"> <p>CopyRight &copy;
          SonalSingh 2022 2023</p> </div> </footer>
</div>
</body>
</html>
