<%- include("partials/header") -%>

<div id="abtsec">
<h1 style="color: red;">ABOUT US</h1>
<p style="font-size: 17px;color: black;">
SPARKS Bank was formed in 1955 at the initiative of the World Bank, the Government of India and representatives of Indian industry. The principal objective was to create a development financial institution for providing medium-term and long-term project financing to Indian businesses. Until the late 1980s, SPARKS BANK primarily focused its activities on project finance, providing long-term funds to a variety of industrial projects. With the liberalization of the financial sector in India in the 1990s, SPARKS BANK transformed its business from a development financial institution offering only project finance to a diversified financial services provider that, along with its subsidiaries and other group companies, offered a wide variety of products and services. As India’s economy became more market-oriented and integrated with the world economy, SPARKS BANK capitalized on the new opportunities to provide a wider range of financial products and services to a broader spectrum of clients. SPARKS BANK Bank was incorporated in 1994 as a part of the SPARKS BANK group. In 1999, SPARKS BankI became the first Indian company and the first bank or financial institution from non-Japan Asia to be listed on the New York Stock Exchange.
<br>

The issue of universal banking, which in the Indian context meant conversion of long-term lending institutions such as SPARKS BANK into commercial banks, had been discussed at length in the late 1990s. Conversion into a bank offered SPARKS BANK the ability to accept low-cost demand deposits and offer a wider range of products and services, and greater opportunities for earning non-fund based income in the form of banking fees and commissions. After consideration of various corporate structuring alternatives in the context of the emerging competitive scenario in the Indian banking industry, and the move towards universal banking, the managements of SPARKS BANK and SPARKS BANK Bank formed the view that the merger of SPARKS BANK with SPARKS BANK Bank would be the optimal strategic alternative for both entities, and would create the optimal legal structure for SPARKS BANK group's universal banking strategy. The merger would enhance value for SPARKS BANK shareholders through the merged entity's access to low-cost deposits, greater opportunities for earning fee-based income and the ability to participate in the payments system and provide transaction-banking services. The merger would enhance value for SPARKS BANK Bank shareholders through a large capital base and scale of operations, seamless access to SPARKS BANK's strong corporate relationships built up over five decades, entry into new business segments, higher market share in various business segments, particularly fee-based services, and access to the vast talent pool of SPARKS BANK and its subsidiaries.

<br>
In October 2001, the Boards of Directors of SPARKS BANK and SPARKS BANK Bank approved the merger of SPARKS BANK and two of its wholly-owned retail finance subsidiaries, SPARKS BANK Personal Financial Services Limited and SPARKS BANK Capital Services Limited, with SPARKS BANK Bank. The merger was approved by shareholders of SPARKS BANK and SPARKS BANK Bank in January 2002, by the High Court of Gujarat at Ahmedabad in March 2002, and by the High Court of Judicature at Mumbai and the Reserve Bank of India in April 2002. Consequent to the merger, the SPARKS BANK group's financing and banking operations, both wholesale and retail, were integrated in a single entity.
</p>
</div>
<div style="margin-bottom: 40px; margin-right: none;margin-left: none;">
<img width="100%"; src="images/imageabout.jpeg">
</div>


<%- include("partials/footer") %>
